@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
    height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:#000000;
    background-color:#F2F2F2;
}

html {
    height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px 9px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background: #756157;
    color: #FFFFFF;
}
  
.button:disabled {
    background: #E5E5E5;
}
  
.button:hover {
    background: #615048;
}
  
.button:focus {
    background: #615048;
}
  
.button:active {
    color: rgba(255, 255, 255, 0.3);
}

.button-blue {
    background: #82B3D3;
}
  
.button-blue:disabled {
    background: #E5E5E5;
}
  
.button-blue:hover {
    background: #68A2CA;
}
  
.button-blue:focus {
    background: #68A2CA;
}
  
.button-blue:active {
    color: rgba(255, 255, 255, 0.3);
}
  
.button-green {
    background: #7DB54F;
}
  
.button-green:disabled {
    background: #E5E5E5;
}
  
.button-green:hover {
    background: #6C9E42;
}
  
.button-green:focus {
    background: #6C9E42;
}
  
.button-green:active {
    color: rgba(255, 255, 255, 0.3);
}
  
.button-another-size {
    padding: 12px 15px;
    max-width: 574px;
    width: 100%;
    line-height: 36px;
    font-size: 20px;
}
  
.base-title {
    color: #000000;
    text-transform: uppercase;
    line-height: 36px;
    font-weight: 700;
    font-size: 30px;
}
  
.base-text {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}
  
.base-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1060px;
    width: 100%;
}

.wrapper {
    display:grid;
    grid-template-rows: max-content 1fr max-content;
    min-height:100%;
    max-width: 1200px;
    width:100%;
    margin:0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.header-logotype {
    position: relative;
    z-index: 1;
    margin-right: 47px;
    display: block;
    float:left;
    outline: none;
}
  
.header-logotype-img {
    width:139px;
    height:70px;
    display: block;
    margin-bottom:-5px;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}
  
.menu-item {
    margin-right: 34px;
}
  
.menu-link {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    outline: none;
    color: #000000;
}
  
.menu-link-active {
    position: relative;
}
  
.menu-link-active:after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: -26px;
    left: 0;
    background-color: #756257;
}
  
.menu-link:not(.menu-link-active):hover {
    color: #756157;
}
  
.menu-link:not(.menu-link-active):focus {
    color: #756157;
}
  
.menu-link:not(.menu-link-active):active {
    color: rgba(117, 97, 87, 0.3);
}

.navigation {
    display:flex;
    align-items: center;
    min-width: 0;
    margin: 0;
    margin-left:47px;
    padding: 0;
    list-style: none;
    margin-bottom:14px;
}

.user-menu {
    display: flex;
    align-items: center;
    padding: 0;
    min-width: 0;
    margin: 0;
    margin-left: auto;
    margin-top:13px;
    list-style: none;
}

.user-menu-item {
    display: inline-block;
}
  
.user-menu-link {
    outline: none;
    margin-right: 22px;
}
  
.user-menu-link-search {
    display: block;
    color: #000000;
    height: 18px;
    width: 18px;
}
  
.user-menu-link-search:hover {
    color: #756157;
}
  
.user-menu-link-search:focus {
    color: #756157;
}
  
.user-menu-link-search:active {
    color: rgba(117, 97, 87, 0.3);
}
  
.user-menu-link-favourite {
    position: relative;
    width: 18px;
    height: 17px;
    display: block;
    margin-right: 35px;
    color: #000000;
}
  
.user-menu-link-favourite:hover {
    color: #756157;
}
  
.user-menu-link-favourite:focus {
    color: #756157;
}
  
.user-menu-link-favourite:active {
    color: rgba(117, 97, 87, 0.3);
  }
  
.user-menu-favourite-count {
    position: absolute;
    top: -9px;
    right: -16px;
    padding: 4px 5px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 13px;
    background-color: #7DB54F;
    color: #FFFFFF;
}
  
.user-menu-button {
    padding: 8px 34px 9px;
}

.promo {
    position: relative;
    padding: 51px 0 82px;
    background-position: center;
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    background-color: rgba(131, 179, 211, 0.2);
}

.promo:after {
    content:"";
    position: absolute;
    bottom:0;
    display: block;
    width:100%;
    height:54px;
    background-position: bottom;
    background-image: url("data:image/svg+xml,%3Csvg width='1200' height='57' viewBox='0 0 1200 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 57V0L250 24V0L600 57L950 0V24L1200 0V57H0Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.sedona-promo-image {
    display: block;
    margin: 0 auto;
    width: 458px;
    height: auto;
}


  
.advantages {
    text-align: center;
    padding-top: 63px;
    background-color: #FFFFFF;
}

.advantages-center-title {
    max-width: 650px;
    margin: 0 auto 30px;
}
  
.advantages-center-text {
    max-width: 685px;
    margin: 0 auto 90px;
}
  
.advantages-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.advantages-list-item {
    min-width: 0;
}
  
.advantages-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/-1;
}
  
.advantages-card-inv {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1/-1;
}
  
.advantages-card-blue {
    min-height: 384px;
    padding: 103px 85px 40px;
    box-sizing: border-box;
    line-height: 21px;
    font-size: 18px;
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
}
  
.advantages-card-title {
    margin: 0;
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;
}
  
.advantages-card-number {
    margin: 0;
    padding-top: 30px;
}
  
.advantages-card-description {
    margin: 0;
    padding-top: 30px;
}
  
.advantages-card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.advantages-card-blue {
    padding-top: 93px;
    background-color: #82B3D3;
    color: #FFFFFF;
}
  
.advantages-card-blue .advantages-card-title {
    color: #FFFFFF;
}

.advantages-card-light-blue {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-service-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/-1;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.advantages-service-item {
    min-height: 384px;
    padding: 50px 85px 85px;
    box-sizing: border-box;
    line-height: 21px;
    font-size: 18px;
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-service-item-white {
    min-height: 384px;
    box-sizing: border-box;
    padding: 50px 85px 85px;
    color: #333333;
    line-height: 21px;
}
  
.advantages-service-item-housing {
    position: absolute;
}
  
.advantages-service-item-food {
    position: relative;
    background-position: center 80px;
    background-color: #FFFFFF;
}
  
.advantages-service-item-souvenirs {
    position: relative;
    background-position: center 80px;
}

.advantages-service-image {
    padding: 29px;
}
  
.advantages-service-item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    text-transform: uppercase;
    color: #000000;
}
  
.advantages-service-item-description {
    padding-top:30px;
    margin: 0;
}

.advantages-card-item {
    min-height: 384px;
    padding: 103px 85px 102px;
    box-sizing: border-box;
    line-height: 21px;
    font-size: 18px;
    color: #333333;
    background-color: rgba(131, 179, 211, 0.12);
}

.advantages-card-item-light-blue {
    
    min-height: 384px;
    padding: 103px 85px 102px;
    box-sizing: border-box;
    line-height: 21px;
    font-size: 18px;
    color: #333333;
    white-space: nowrap;
    background-color: rgba(131, 179, 211, 0.2);
}

.search-hotel {
    text-align: center;
    padding: 91px 0 93px;
    background-color: #FFFFFF;
}
  
.search-hotel-title {
    max-width: 600px;
    margin: 0 auto 29px;
}
  
.search-hotel-text {
    max-width: 600px;
    margin: 0 auto 56px;
}

.subscription {
    padding: 94px 0 94px;
    text-align: center;
}
  
.subscription-back {
    background-position: center;
    background-image: url("../images/background-subscription.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(131, 179, 211, 0.2);
    color: #FFFFFF;
}
  
.subscription-title {
    max-width: 600px;
    margin: 0 auto 29px;
}
  
.subscription-back .subscription-title {
    color: #FFFFFF;
}
  
.subscription-text {
    max-width: 600px;
    margin: 0 auto 46px;
}
  
.subscription-back .subscription-text {
    color: #FFFFFF;
}
  
.subscription-form input {
    width: 556px;
    padding: 21px 22px 21px;
    border: none;
    border-radius: 10px 0 0 10px;
    line-height: 21px;
    font-size: 18px;
    outline: none;
    background: #F2F2F2;
}
  
.subscription-button {
    padding:14px 1px;
    margin-left: -5px;
    line-height: 36px;
    width:200px;
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    font-size: 20px;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:48px 0 35px;
}

.footer-contacts-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top:45px;
    margin-left:70px;
    float:left;
}

.footer-contacts-item {
    margin-left: 23px;
}

.footer-contacts-telephone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    float:left;
    margin-left:120px;
    margin-top: 17px;
}
  
.footer-contacts-telephone:hover {
    color: #756157;
}
  
.footer-contacts-telephone:focus {
    outline: none;
    color: #756157;
}
  
.footer-contacts-telephone:active {
    color: rgba(117, 97, 87, 0.3);
}

.footer-contacts-link {
    text-decoration: none;
    color: #83B3D3;
}
  
.footer-contacts-link:hover {
    color: #68A2CA;
}
  
.footer-contacts-link:focus {
    outline: none;
    color: #68A2CA;
}
  
.footer-contacts-link:active {
    color: rgba(104, 162, 202, 0.3);
}

.footer-logotype {
    display: block;
    margin-left: auto;
    color: #000000;
    text-align: right;
    float:right;
    margin-top: 20px;
    margin-right: 33px;
}
  
.footer-logotype:hover {
    color: #756157;
}
  
.footer-logotype:focus {
    outline: none;
    color: #756157;
}
  
.footer-logotype:active {
    color: rgba(117, 97, 87, 0.3);
}

.modal-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
}
  
.modal-container-close {
    display: none;
}
  
.modal {
    position: relative;
    margin: auto;
    padding: 40px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background: #FFFFFF;
}
  
.modal-container-search {
    width: 635px;
}
  
.modal-button-close {
    position: absolute;
    top: 53px;
    right: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    width: 53px;
    height: 53px;
    cursor: pointer;
    background-color: #F2F2F2;
}
  
.modal-button-close::before {
    content: "";
    width: 13px;
    height: 13px;
    background-position: center;
    background-image: url("../images/close.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
  
.modal-button-close:hover {
    background-color: #E6E6E6;
}
  
.modal-button-close:focus {
    outline: 3px solid #83B3D3;
}
  
.modal-button-close:active {
    border: none;
    background-color: #E6E6E6;
}
  
.modal-button-close:active::before {
    opacity: 0.3;
}
  
.modal-content-title {
    margin: 22px 0 63px 28px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight:700;
    font-size: 30px;
}
  
.modal-content-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0;
    margin-bottom: 11px;
    padding: 0;
    border: none;
}
  
.modal-content-group-two {
    grid-template-columns: repeat(4, 1fr);
}
  
.modal-content-input-full {
    position: relative;
    padding-left: 28px;
}
  
.modal-content-label {
    display: inline-block;
    padding-left: 30px;
    padding-top: 11px;
    line-height: 26px;
    font-weight: 700;
    font-size: 20px;
}
  
.modal-content-children {
    display: flex;
    justify-content: center;
}
  
.modal-content-input {
    position: relative;
    width: 84%;
    margin-bottom: 5px;
    padding: 14px 19px;
    border: 2px solid #F2F2F2;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    outline: none;
    background: #F2F2F2;
}
  
.modal-content-input::placeholder {
    color: #000000;
    opacity: 0.6;
}
  
.modal-content-input:hover {
    background-color: #E6E6E6;
}
  
.modal-content-input:not(:placeholder-shown) {
    border: 2px solid #000000;
    background-color: #FFFFFF;
}
  
.modal-content-input:focus {
    border: 2px solid #E6E6E6;
    outline: 3px solid #83B3D3;
    background-color: #E6E6E6;
}
  
.modal-content-calendar {
    content: "";
    position: absolute;
    top: 17px;
    width: 15px;
    right: 48px;
    opacity: 0.3;
    height: 15px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 10C5.8 10 6 9.8 6 9.5C6 9.2 5.8 9 5.5 9C5.2 9 5 9.2 5 9.5C5 9.8 5.2 10 5.5 10Z' fill='black'/%3E%3Cpath d='M14 2H12V0H11V2H4V0H3V2H1C0.4 2 0 2.4 0 3V6V7V14C0 14.5 0.4 15 1 15H14C14.5 15 15 14.5 15 14V7V6V3C15 2.4 14.5 2 14 2ZM14 14H1V7H14V14ZM1 6V3H3V5H4V3H11V5H12V3H14V6H1Z' fill='black'/%3E%3Cpath d='M7.5 10C7.8 10 8 9.8 8 9.5C8 9.2 7.8 9 7.5 9C7.2 9 7 9.2 7 9.5C7 9.8 7.2 10 7.5 10Z' fill='black'/%3E%3Cpath d='M9.5 10C9.8 10 10 9.8 10 9.5C10 9.2 9.8 9 9.5 9C9.2 9 9 9.2 9 9.5C9 9.8 9.2 10 9.5 10Z' fill='black'/%3E%3Cpath d='M5.5 11C5.2 11 5 11.2 5 11.5C5 11.8 5.2 12 5.5 12C5.8 12 6 11.8 6 11.5C6 11.2 5.8 11 5.5 11Z' fill='black'/%3E%3Cpath d='M3.5 10C3.8 10 4 9.8 4 9.5C4 9.2 3.8 9 3.5 9C3.2 9 3 9.2 3 9.5C3 9.8 3.2 10 3.5 10Z' fill='black'/%3E%3Cpath d='M3.5 11C3.2 11 3 11.2 3 11.5C3 11.8 3.2 12 3.5 12C3.8 12 4 11.8 4 11.5C4 11.2 3.8 11 3.5 11Z' fill='black'/%3E%3Cpath d='M7.5 11C7.2 11 7 11.2 7 11.5C7 11.8 7.2 12 7.5 12C7.8 12 8 11.8 8 11.5C8 11.2 7.8 11 7.5 11Z' fill='black'/%3E%3Cpath d='M9.5 11C9.2 11 9 11.2 9 11.5C9 11.8 9.2 12 9.5 12C9.8 12 10 11.8 10 11.5C10 11.2 9.8 11 9.5 11Z' fill='black'/%3E%3Cpath d='M11.5 10C11.8 10 12 9.8 12 9.5C12 9.2 11.8 9 11.5 9C11.2 9 11 9.2 11 9.5C11 9.8 11.2 10 11.5 10Z' fill='black'/%3E%3Cpath d='M11.5 11C11.2 11 11 11.2 11 11.5C11 11.8 11.2 12 11.5 12C11.8 12 12 11.8 12 11.5C12 11.2 11.8 11 11.5 11Z' fill='black'/%3E%3C/svg%3E");
}
  
.modal-content-text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}
  
.modal-content-text-red {
    color: #FF5757;
}

.counter {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    max-width: 133px;
}
  
.counter-input {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    border: none;
    line-height: 21px;
    color: #000000;
    outline: none;
    background: #F2F2F2;
}
  
.counter-input::placeholder {
    color: #000000;
    opacity: 0.6;
}
  
.counter-input:hover {
    background-color: #E6E6E6;
}
  
.counter-input:not(:placeholder-shown) {
    border: 2px solid #000000;
    background-color: #FFFFFF;
}
  
.counter-input:focus {
    z-index: 1;
    border: 2px solid #E6E6E6;
    outline: 3px solid #83B3D3;
    background-color: #E6E6E6;
}
  
.counter-button {
    height: 50px;
    border: none;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    outline: none;
}
  
.counter-button:focus {
    z-index: 1;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
  
.counter-button:active {
    opacity: 0.2;
}
  
.button-down {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='1' viewBox='0 0 13 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M0 0L0 1L13 1V0L0 0Z' fill='black'/%3E%3C/svg%3E");
}
  
.button-up {
    top: 0;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 6H7V0H6V6H0V7H6V13H7V7H13V6Z' fill='black'/%3E%3C/svg%3E");
}
  
.modal-content-button {
    display: block;
    width: 575px;
    margin: 40px auto;
    padding: 12px 36px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    outline: none;
    background: #83B3D3;
}
  
.modal-content-button:hover {
    background: #68A2CA;
}
  
.modal-content-button:focus {
    outline: 3px solid #756257;
    background: #68A2CA;
}
  
.modal-content-button:active {
    border: none;
    color: rgb(255, 255, 255, 0.3);
    background: #68A2CA;
}

.tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 7px;
}
  
.tooltip-toggle {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    background-position: center;
    background-color: #83B3D3;
    background-image: url("data:image/svg+xml,%3Csvg width='1' height='9' viewBox='0 0 1 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_33716_652)'%3E%3Cpath d='M0 9H1L1 3H0L0 9Z' fill='white'/%3E%3Cpath d='M1 0H0V1H1V0Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_33716_652'%3E%3Crect width='1' height='9' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    outline: none;
}
  
.tooltip-toggle:hover {
    background-color: #68A2CA;
}
  
.tooltip-toggle:focus + .tooltip-text {
    display: block;
}
  
.tooltip-text {
    position: absolute;
    left: -114px;
    top: 53px;
    display: none;
    width: 217px;
    padding: 15px 18px 18px 22px;
    background: #333333;
    box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-transform: none;
    border-radius: 10px;
}
  
.tooltip:hover .tooltip-text {
    display: block;
}
  
.tooltip-text:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 19px;
    height: 9px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='9' viewBox='0 0 19 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5 0L19 9H0L9.5 0Z' fill='%23333333'/%3E%3C/svg%3E");
}

.catalog-head {
    padding: 35px 0 67px;
    background-image: url("../images/filter-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(131, 179, 211, 0.2);
}
  
.inner-header-title {
    margin: 0;
    padding: 0;
    font-size:60px;
    font-weight: 700;
    line-height: 78px;
    color: #FFFFFF;
}

.breadcrumbs {
    display:flex;
    margin: 10px 0 38px;
    padding: 0;
    list-style: none;
    color: #FFFFFF;
}
  
.breadcrumbs-item:last-child .breadcrumbs-item-link:after {
    background-image: none;
}
  
.breadcrumbs-item-link {
    position: relative;
    color: #FFFFFF;
    display: block;
    margin-right: 25px;
    text-decoration: none;
}
  
.breadcrumbs-item-link:hover {
    color: rgba(255, 255, 255, 0.6);
}
  
.breadcrumbs-item-link:focus {
    outline: none;
    color: #FFFFFF;
}
  
.breadcrumbs-item-link:active {
    color: rgba(255, 255, 255, 0.3);
}
  
.breadcrumbs-item-link:after {
    content: "";
    position: absolute;
    display: block;
    top: 7px;
    right: -15px;
    width: 5px;
    height: 8px;
    background-position: right;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.05145 4.0749L1.25145 0.674902C1.05145 0.474902 0.651448 0.474902 0.351448 0.674902C0.0514485 0.874902 0.151448 1.2749 0.351448 1.4749L3.65145 4.4749L0.451448 7.4749C0.251448 7.6749 0.251448 8.0749 0.451448 8.2749C0.451448 8.3749 0.751448 8.4749 0.851448 8.4749C0.951449 8.4749 1.15145 8.3749 1.25145 8.2749L5.05145 4.8749C5.35145 4.6749 5.35145 4.2749 5.05145 4.0749Z' fill='white'/%3E%3C/svg%3E");
}
  
.breadcrumbs-item-usable {
    font-size: 16px;
    line-height: 21px;
} 

.catalog-filter-title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: capitalize;
}

.catalog-filter-form {
    display: flex;
    align-items: flex-start;
}
  
.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
    color: #FFFFFF;
}
  
.catalog-filter-group:nth-child(1) {
    margin-right:66px;
    max-width: 160px;
    min-width: 0;
}
  
.catalog-filter-group:nth-child(2) {
    max-width: 160px;
    min-width: 0;
}
  
.catalog-filter-group:nth-child(3) {
    max-width: 288px;
    min-width: 0;
    margin-right: 70px;
    margin-left: auto;
}
  
.catalog-filter-checkbox:not(:last-child) {
    margin-bottom: 15px;
}
  
.catalog-filter-item {
    display: block;
    position: relative;
    padding-left: 40px;
}
  
.catalog-filter-item-mark {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background: #FFFFFF;
}
  
.catalog-filter-item:hover .catalog-filter-item-mark {
    background: rgba(255, 255, 255, 0.6);
}
  
.catalog-filter-item:focus-within .catalog-filter-item-mark {
    outline: 3px solid #83B3D3;
}
  
.catalog-filter-item:active .catalog-filter-item-mark {
    background: rgba(255, 255, 255, 0.3);
}
  
.catalog-filter-item-input[type="checkbox"]:checked + .catalog-filter-item-mark::before {
    position: absolute;
    width: 12px;
    height: 10px;
    left: 4px;
    top: 5px;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 0L4.5 7.4L1.1 3.5L0 4.7L4.5 9.9L12.2 1.3L11 0Z' fill='%233F5E72'/%3E%3C/svg%3E");
    content: "";
}
  
.catalog-filter-radio:not(:last-child) {
    margin-bottom: 15px;
}
  
.catalog-filter-item-input[type="radio"] + .catalog-filter-item-mark {
    border-radius: 50%;
}
  
.catalog-filter-item-input[type="radio"]:checked + .catalog-filter-item-mark::before {
    position: absolute;
    content: "";
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #3F5E72;
    border-radius: 50%;
}
  
.catalog-filter-price {
    position: relative;
    display: inline-flex;
    margin-top: 5px;
}
    
.catalog-filter-price label {
    position: absolute;
    top: 25%;
    right: 15px;
    opacity: 0.3;
}
    
.catalog-filter-input {
    padding: 11px 10px;
    width: 120px;
    border: 2px solid #FFFFFF;
    border-radius: 4px 0 0 4px;
    line-height: 21px;
    font-size: 18px;
    color: #FFFFFF;
    background: transparent;
}
    
.catalog-filter-input:hover {
    border: 2px solid #FFFFFF;
}
    
.catalog-filter-input:focus {
    outline: none;
    border: 2px solid #FFFFFF;
    box-shadow: 0 0 0 3px #81B3D2;
}
    
.catalog-filter-input:active {
    border: 2px solid #FFFFFF;
    background: #756257;
}
    
.catalog-filter-input-before {
    margin-left: -6px;
    border-radius: 0 4px 4px 0;
}
    
.catalog-filter-range-slide {
    position: relative;
    height: 4px;
    margin-top: 29px;
    background-color: rgb(255, 255, 255, 0.3);
}
    
.catalog-filter-bar {
    content: "";
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}

.catalog-filter-range-slide .catalog-filter-bar {
    width: 80%;
    height: 4px;
    background: #F2F2F2;
}
    
.range-slider {
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background: #FFFFFF;
}
    
.range-slider:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
    
.range-slider:focus {
    outline: none;
    border: 3px solid #83B3D3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
    
.range-slider:active {
    border: 2px solid #83B3D3;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}
    
.range-slider-min {
    top: -8px;
    left: 0;
}
    
.range-slider-max {
    top: -8px;
    right: -7px;
}

.catalog-filter-buttons {
    padding-top: 59px;
}

.button-submit {
    padding: 18px 36px 13px;
}
  
.button-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    color: #FFFFFF;
    background: none;
}
  
.button-reset:hover {
    color: #FFFFFF;
    opacity: 0.6;
}
  
.button-reset:focus {
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
  
.button-reset:active {
    border: none;
    color: #FFFFFF;
    opacity: 0.3;
}
  
.catalog-full-results {
    padding: 55px 0 0;
}
  
.catalog-full-results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
  
.catalog-results-amount {
    margin: 0;
    padding: 0;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    float: left;
    margin-left: 72px;
    margin-top:8px;
}
  
.catalog-results-select {
    width: 290px;
    padding: 13px 17px;
    padding-right: 40px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    appearance: none;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    margin-left: 191px;
    background-image: url("../images/arrow-sel.svg");
    background-repeat: no-repeat;
    background-position: right 16px center;
}
  
.catalog-results-select:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}
  
.catalog-results-select:hover {
    border: 2px solid #68A2CA;
}
  
.catalog-results-select:focus {
    border: 2px solid #68A2CA;
    outline: none;
}
  
.catalog-results-select:active {
    border: 2px solid #3F5E72;
}
  
.catalog-results-view {
    margin-left: 71px;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}
  
.view-item-link {
    display: block;
    margin-left: 8px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    padding: 12px 14px;
}
  
.view-item-link:hover {
    border: 2px solid #000000;
}
  
.view-item-link:focus {
    outline: none;
    border: 2px solid #68A2CA;
}
  
.view-item-link:active {
    border:2px solid #000000;
  
}

.view-item-link-active {
    border: 2px solid #000000;
}

.catalog-results-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    margin: 0;
    padding: 0;
    padding-bottom: 65px;
    list-style: none;
    margin-left: 73px;
    margin-top:56px;
}
  
.catalog-results-item {
    min-width: 0;
}

.catalog-item-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    padding: 20px;
    row-gap: 16px;
    column-gap: 20px;
}
  
.catalog-item-image {
    grid-column: 1/-1;
    display: block;
    width: 100%;
    height: 208px;
    object-position: center;
    object-fit: cover;
}
  
.catalog-item-title {
    grid-column: 1/-1;
    margin: 0;
    line-height:28px;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}
  
.catalog-item-description {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
  
.catalog-item-amount {
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
  
.catalog-item-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 37px;
}
  
.catalog-item-rating-star {
    display: block;
    width: 18px;
    height: 17px;
    margin-right: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0L11.1 6.5H18L12.4 10.5L14.6 17L9 13L3.4 17L5.6 10.5L0 6.5H6.9L9 0Z' fill='%2383B3D3'/%3E%3C/svg%3E");
}
  
.catalog-item-rating-number {
    margin: 0;
    padding: 9px 22px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background: #F2F2F2;
}
  
.catalog-results-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #E6E6E6;
}

.page-numbering {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-left: 73px;
    list-style: none;
}
  
.page-item {
    margin-left: 8px;
}
  
.page-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 58px;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #82B3D3;
    border-radius: 4px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #FFFFFF;
    background: #82B3D3;
}
  
.page-item-active {
    border: 1px solid #F2F2F2;
    color: #000000;
    background: #F2F2F2;
}
  
.page-item-link:hover {
    background: #68A2CA;
}
  
.page-item-link:focus {
    outline: none;
    background: #68A2CA;
}
  
.page-item-link:active {
    color: rgba(255, 255, 255, 0.3);
}
  
.page-item-active:hover {
    background: #F2F2F2;
}
  
.page-item-active:focus {
    outline: none;
    background: #F2F2F2;
}
  
.page-item-active:active {
    color: #000000;
}
  
.catalog-results-count {
    padding-left: 218px;
}
  
.catalog-results-item-count {
    width: 160px;
    padding: 13px 17px;
    color: #333333;
    line-height: 21px;
    appearance: none;
    font-size: 18px;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    background-position: right 16px center;
    background-image: url("../images/arrow-sel.svg");
    background-repeat: no-repeat;
}
  
.catalog-results-item-count:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}
  
.catalog-results-item-count:hover {
    border: 2px solid #68A2CA;
}
  
.catalog-results-item-count:focus {
    outline: none;
    border: 2px solid #68A2CA;
}
  
.catalog-results-item-count:active {
    border: 2px solid #3F5E72;
}
